/* formatação geral */

@font-face {
  font-family: 'adore64';
  src: url('../Fontes/adore64.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Machine Regular';
  src: url('../Fontes/Machine Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	
}

body {
  background-color: #00002D;
  font-family: "Agency FB", SansSerif;
 
}


a {
    text-decoration: none;	
}


/* formatação desta página */

.relative1{
	position: relative;
	top: 0%;
	
}

.relative2{
		position: relative;
	top: 110%;
}


.textao{
	text-align: justify;
	color: #FFF;
	text-shadow: 2px 3px 0 black;
	font-size: 1em;
	margin: 3px;
	letter-spacing: 1px;
}

 .textao::after {
 content: '|';
 margin-left: 5px;
 opacity: 1;
 animation: pisca .7s infinite;

 }
 
 
 @keyframes pisca{
 
 0%, 100% {
	opacity: 1;
 }
 
 50%{
	opacity: 0;
 }
}
		

.textinho{
	font-size:25px;
	font-family: "Agency FB", SansSerif;
}


h2{
    font-family: 'adore64';
	color: #33ff00;
	text-shadow: 2px 2px 0 black;
	font-size:1.3em;
}	




/* Inicio do css icone do menu hamburguer */

.containermenu {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #33ff00;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
	background-color: #33ff00;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
	background-color: #33ff00;
}

	/* Fim do css do icone do menu hamburguer */

	/* Inicio Menu hamburguer */

#chec {
    display: none;
    	/* esconde o checkbox */
}

#chec:checked ~ #principal {
    transform: translateX(100%);
    	/* Faz o menu aparecer e reaparecer */
}

#chec:checked ~ .bg {
    display: block;
}

#chec:checked ~ #all {
    z-index: 500;

	
}

#principal {
	
    background-color: #222222;
   	 /* cor do fundo do menu */
    width: 100%;
    height: 100vh;
   	 /* unidade base do viewport, pega 100% da pagina */
    left: -100%;
    position: relative;
	text-align:center;
    transition: all .4s;
	/* Faz a transição/animação do menu */
	z-index: 100;
    
}

.menuc {
    display: block;
    padding: 20px 5px;
    color: white;
    font-size: 4.2vh;
}

.menuc:hover {
    /* hover do menu */
    color: #33ff00;
    
}

label {
    padding: 1px;
    margin: 14px;
    position: absolute;
    z-index: 1;
}

ul {
    top: 115px;
    position: absolute;
    width: 100%;
	list-style: none;
}

ul li span {
    float: right;
}

#sub {
	position:static;
	/*display: none;*/
	visibility:hidden;
	height:0;
	display: none;
		
}

#sub-active {
	position:static;
	background-color: #2B2B2B;
	/*cor do submenu*/
	visibility:visible;
}



#all{
	position: sticky;
    top:0;
    z-index:0;
}


#sub10 #obras {
    top: -70px;
    position: relative;
	visibility: hidden;
    width: 170px;
    pointer-events: none;
}

#sub10:hover #obras {
    left: 40%;
    pointer-events: initial;
}

#sub10 {
    overflow: hidden;
    height: 66px;
}


/* Fim Menu hamburguer */



/* Inicio linha do tempo */
	
	
.timeline {
  position: relative;
  width: 80%;
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;

}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #33ff00;
  /* cor da linha vertical */
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 4px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #000D2F;
  /* cor de dentro do circulo */
  border: 4px solid #33ff00;
  /* cor do circulo */
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
  /* cor da seta esquerda */
}

/* Adicione setas ao contêiner direito (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  /* cor da seta direita */
}

/* Corrija o círculo para recipientes no lado direito */
.right::after {
  left: -16px;
}

/* The actual content */
.content {

  padding: 25px 30px;
  background-color: white;
  /* cor do retangulo */
  position: relative;
  border-radius: 7px;
}



@media screen and (min-width: 930px){

	
	.ass{
	  position: absolute;
	  width: 15%;
	  top:4%;
	  left: 42.5%;
	  right: 42.5%;
	  z-index:5;
	  	 
 }	
	h1{

	margin-top: 8%;
	font-family: 'Machine Regular', 'adore64';
	color: #33ff00;
	font-size: 2.2em;
	text-align: center;
	LINE-HEIGHT:40px;
	text-shadow: 4px 4px 0 black;
	letter-spacing: 3px;
}	

	.text1 {
	text-align: left;
	position: absolute;
	top: 25%;
	left: 10%;
	width: 83%;
	LINE-HEIGHT: 27px;
	-moz-column-count: 2;
	-moz-column-gap: 50px;
    -webkit-column-count: 2;
	-webkit-column-gap: 50px;
	column-count: 2;
	column-gap: 50px;
	font-size: 1.4em;
}

	.seta2 {
	 
	 position: absolute;
     top: 600px;
     left:49%;
	 width: 2%;
     padding: 0;
	 z-index:2;
 }
	
	.mapa{
		width: 83%;
		margin-left: 10%;
		
}
		
	.rodape{
	position: relative;
	bottom: 0%;
	left: 0;
	width: 100%;
	padding: 0;
	margin-top: 6%;
	border: 2px solid #000;
}

	.rodape img {
		
	width: 100%;
	}
	

 
 /* Slide 2 fotos */

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
  margin-top: 30px;
  text-decoration: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.textslide {
  font-size: 1em;
  padding: 8px 12px;
  position: absolute;
  top: -2px;
  width: 100%;
  text-align: center;
  color: white;
}

/* Number text (1/2 etc) */

.numbertext1 {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.numbertext2 {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;

}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* tabela */

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 5px ridge #ddd;
  font-family: 'Courier New';
  text-decoration: none;	
  width: 100%; 
}

th, td {
  text-align: center;
  padding: 2.6px;
}

tr:nth-child(even){

background-color: #C0C0C0;

}

tr{

background-color: #d5d5d5;

}

.fonte{
	font-family: 'Courier New';
	 font-size: 0.8em;
	
}
 	
}
	


@media screen and (min-width: 700px) and (max-width: 930px){ 

.timeline{
	margin-top: 5%;
}

.ass{
	  position: absolute;
	  width: 20%;
	  top:4%;
	  left: 40%;
	  z-index:5;
	  	 
 }
 
h1{

	font-family: 'Machine Regular', 'adore64', 'Agency FB';
	color: #33ff00;
	font-size: 2.2em;
	text-align: center;
	LINE-HEIGHT:40px;
	text-shadow: 4px 4px 0 black;
	letter-spacing: 3px;
	margin-top: -100px;
}

.text1 {
	text-align: left;
	position: absolute;
	top: 20%;
	left: 10%;
	width: 80%;
	LINE-HEIGHT: 27px;
	-moz-column-count: 2;
	-moz-column-gap: 40px;
    -webkit-column-count: 2;
	-webkit-column-gap: 40px;
	column-count: 2;
	column-gap: 40px;
	font-size: 1.2em;
}

.mapa{
	width:100%;
	margin:0;
	
}

.seta2 {
	 
visibility: hidden;

 }

.rodape{
	position: relative;
	bottom: 0%;
	width: 100%;
	padding: 0;
	margin-top:6%;
	border: 2px solid #000;
}
.rodape img{
	width:100%;
}	

/* Slide 2 fotos */

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
  margin-top: 30px;
	
		text-decoration: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */

/* Number text (1/3 etc) */
.numbertext1 {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.numbertext2 {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* tabela */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 4px ridge #ddd;
  font-family: 'Courier New';
  text-decoration: none;	
 
}

th, td {
  text-align: center; 

}

tr:nth-child(even){

background-color: #C0C0C0;

}

tr{

background-color: #d5d5d5;

}

.fonte{
	font-family: 'Courier New';
	 font-size: 0.7em;
	
}
 	
}



@media screen and (max-width: 700px) {
	
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  
  }
  
  .timeline{
	  margin-top: 8%;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Verifique se todas as setas estão apontando para a esquerda */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Verifique se todos os círculos estão no mesmo local */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Faça com que todos os contêineres certos se comportem como os da esquerda */
  .right {
  left: 0%;
  }
  
  /* Geral */
  
	.ass{
		position: absolute;
		width: 25%;
		top:4%;
		left: 37.5%;
		z-index:5;
	  	 
}
 
	h1{
	margin-top: 22%;	
	font-family: 'Machine Regular', 'adore64';
	color: #33ff00;
	font-size: 2.2em;
	text-align: center;
	LINE-HEIGHT:40px;
	text-shadow: 4px 4px 0 black;
	letter-spacing: 3px;
}
  
	.text1 {
		

		position: absolute;
		top:15%;
		margin-left: 10%;
		margin-right: 10%;
		font-size: 1.2em;
		text-align: justify;
		LINE-HEIGHT: 24px;
		text-decoration: none;
			
}

  	.mapa{
		width: 80%;
		position: relative;
		left: 10%;
		top: 100%;
	
}

 .rodape{
	position: relative;
	bottom: 0%;
	width: 100%;
	padding: 0;
	margin-top:6%;
}

.rodape img{
	width:100%;
	border: 2px solid #000;
}	
		
	.seta2 {
	 
visibility: hidden;

 }
 
 /* Slide 2 fotos */

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
  margin-top: 30px;
  text-decoration: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext1 {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.numbertext2 {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
 
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* tabela */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  
  border: 4px ridge #ddd;
  font-family: 'Courier New';
  text-decoration: none;	
 
}

th, td {
  text-align: center;
 
  padding: 3.3px;
}

tr:nth-child(even){

background-color: #C0C0C0;

}

tr{

background-color: #d5d5d5;

}

.fonte{
	font-family: 'Courier New';
	 font-size: 0.8em;
	
}
 	
}











